/* Fonts */
@font-face {
    font-family: fira_mono;
    src: url('_assets/fonts/fira_mono.woff2');
}

@font-face {
    font-family: united_sans_light;
    src: url('_assets/fonts/united_sans_light.woff2');
}

@font-face {
    font-family: united_sans_medium;
    src: url('_assets/fonts/united_sans_medium.woff2');
}


html, body {
  margin: 0;
  padding: 0;

  font-family: united_sans_light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  /*overflow: hidden;*/
}

body {
    background-image: url('_assets/img/background.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */

    color: white;    
}

h1, h2, h3, h4 {
    margin-top: 20px;
    margin-bottom: 2px;
}

#root {
    height: 100%;
}